



body{

    font-family: 'Noto Sans', sans-serif;


}



.half-width{

width: 50%;
margin-bottom: 50px;




}
.add-padd{

padding: 30px 20px ;


}
.flex-cntrl{



    display: flex;
}
.text-color{

    color: orange;
}
h1{

font-size: 35px;


}
.first-pic
{

    width: 60% ;
    margin-left: 200px;
}
.para-size{


font-size: 23px;
margin-top: 50px;

}
.top-banner{

    background-image: url(images/shapes/Frame\ 57.jpg);
    background-position:left;background-position:left;
}
.order-button
{

    background-image: linear-gradient(orange, red);
    font-size: large;
    padding: 10px 40px;
    border-radius: 100px;

color: white;
text-decoration: none;

margin: 100px;
}
.second-pic{


    margin-top: 50px;
    margin-left: 100px;
}
.second-banner{


    background-image: url(images/shapes/7.png);
}
.half-width a{

    pos
}